.container {
    width: 100%;
    margin: 0 auto;
    max-width: 900px;
    min-height: 100vh;
}

.inner {
    display: flex;
    gap: 50px;
}

.titulo {
    font-size: 30px;
    margin-top: 17px;
}


.carousel {
    cursor: grab;
    overflow: hidden;
}

.imagem {
    pointer-events: none;
    border-radius: 12px;
}

.item  { 
    margin-top: 190px;
}