.Imagem_Henrique {
    border-radius: 12px;
    margin-bottom: 35px;
}

.Titulo {
    margin-top: 20px;
}

.containerRedeSocial {
    position: absolute;
    top: 8px;
    left: -5px;
    width: min-content;
    border-radius: 12px;
    box-shadow: 6px 7px 10px rgba(0, 0, 0, 1.00);
}

.Subtitulo {
    margin-top: 10px;
    font-size: 20px;

}

.Div_Botao {
   margin-top: 30px;
   align-items: center;
   display: flex;
   justify-content: center;
   gap: 15px;
}