.div_formacao {
   margin-top: 45px;
}

.titulo_formacao {
   font-size: 30px;
}

.imagem_formacao {
   margin-top: 45px;
   border-radius: 12px;
}

.subtitulo_formacao {
    font-size: 20px;
    margin-top: 5px;
}